<%- include('./includes/header') %>
  </head>

  <body>
    <%- include('./includes/nav') %>
      <section>
        <div class="container column">
          <form class="form" action="/login" method="POST">
            <h1>Login</h1>
            <% if(errorMessage) { %>
              <span class="errorMessage"><%= errorMessage %></span>
            <% } %>
            <div class="form__container">
              <label for="email">Email</label>
              <input type="text" name="email" id="email" value="<%= oldInput.email %>"/>
            </div>
            <div class="form__container">
              <label for="password">Senha</label>
              <input type="password" name="password" id="password" />
            </div>
            
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Login</button>
          </form>         
          <div class="centered">
            <a href="/reset">Reset Password</a>
          </div>
        </div>
      </section>
      <%- include('./includes/footer') %>